version: "3.8"

services:
    weather-station:
        image: hanine-weather-app:latest
        build: ..
        # Override bootstrap.servers and pass unique station ID
        command: ["com.netcentric.lab4.station.WeatherStation"]
        extra_hosts:
            - "kafka-service:13.53.199.139"
        environment:
            - KAFKA_BOOTSTRAP_SERVERS=13.53.199.139:9093
        networks:
            - station-net
        restart: on-failure

networks:
    station-net:
        driver: bridge