services:
    zookeeper:
        image: bitnamilegacy/zookeeper:latest
        container_name: zookeeper
        ports:
            - "2181:2181"
        environment:
            - ALLOW_ANONYMOUS_LOGIN=yes
        networks:
            - weather-net

    kafka:
        image: bitnamilegacy/kafka:3.3
        container_name: kafka
        ports:
            - "9096:9092"
        environment:
            - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
            - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
            - ALLOW_PLAINTEXT_LISTENER=yes
        depends_on:
            - zookeeper
        networks:
            - weather-net

    postgres:
        image: postgres:15-alpine
        container_name: postgres-db
        ports:
            - "5432:5432"
        environment:
            - POSTGRES_USER=admin
            - POSTGRES_PASSWORD=password
            - POSTGRES_DB=weather_db
        volumes:
            - postgres_data:/var/lib/postgresql/data
            - ./k8s/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
        networks:
            - weather-net

    central-station:
        image: hanine-weather-app:latest
        build: .
        container_name: central-station
        command: ["com.netcentric.lab4.central.CentralStation"]
        environment:
            - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
            - DATABASE_URL=jdbc:postgresql://postgres:5432/weather_db
            - POSTGRES_DB=weather_db
            - POSTGRES_USER=admin
            - POSTGRES_PASSWORD=password
        depends_on:
            - kafka
            - postgres
        networks:
            - weather-net

    weather-station:
        image: hanine-weather-app:latest
        build: .
        command: ["com.netcentric.lab4.station.WeatherStation"]
        environment:
            - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
        depends_on:
            - kafka
        # In Docker Compose, we scale this using: docker-compose up --scale weather-station=10
        networks:
            - weather-net

    rain-detector:
        image: hanine-weather-app:latest
        build: .
        container_name: rain-detector
        command: ["com.netcentric.lab4.processor.RainingTrigger"]
        environment:
            - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
        depends_on:
            - kafka
        networks:
            - weather-net

networks:
    weather-net:
        driver: bridge

volumes:
    postgres_data:
